In [24]:
import pandas as pd

import syft as sy
import numpy as np

In [51]:
canada_customer_data = pd.read_csv("Mall_Customers.csv")
print(canada_customer_data.shape)
canada_customer_data.head()

(200, 5)

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [52]:
canada_customer_data = canada_customer_data.rename({"Genre": "Gender"}, axis=1)
canada_customer_data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [53]:
canada_customer_data["Male"] = canada_customer_data.Gender.apply(lambda x: 1 if x == "Male" else 0)
canada_customer_data["Female"] = canada_customer_data.Gender.apply(lambda x: 1 if x == "Female" else 0)
canada_customer_data = canada_customer_data.drop(['Gender'], axis=1)
# canada_customer_data = canada_customer_data.iloc[:, 1:]
canada_customer_data

     CustomerID  Age  Annual Income (k$)  Spending Score (1-100)  Male  Female
0             1   19                  15                      39     1       0
1             2   21                  15                      81     1       0
2             3   20                  16                       6     0       1
3             4   23                  16                      77     0       1
4             5   31                  17                      40     0       1
..          ...  ...                 ...                     ...   ...     ...
195         196   35                 120                      79     0       1
196         197   45                 126                      28     0       1
197         198   32                 126                      74     1       0
198         199   32                 137                      18     1       0
199         200   30                 137                      83     1       0

[200 rows x 6 columns]

In [ ]:
# canada_customer_values = canada_customer_data[['Age', 'Annual Income (k$)', 
#                                                'Spending Score (1-100)', 'Male', 'Female']].to_numpy()

customer_age = canada_customer_data['Age'].to_numpy()
customer_income = canada_customer_data['Annual Income (k$)'].to_numpy()
customer_spend = canada_customer_data['Spending Score (1-100)'].to_numpy()
customer_male = canada_customer_data['Male'].to_numpy()
customer_female = canada_customer_data['Female'].to_numpy()

In [56]:
customer_id = canada_customer_data["CustomerID"]

age_tensor = sy.Tensor(child=customer_age).private(min_val=0, max_val=2e12, data_subjects=customer_id)
income_tensor = sy.Tensor(child=customer_income).private(min_val=0, max_val=2e12, data_subjects=customer_id)
spend_tensor = sy.Tensor(child=customer_spend).private(min_val=0, max_val=2e12, data_subjects=customer_id)
male_tensor = sy.Tensor(child=customer_male).private(min_val=0, max_val=2e12, data_subjects=customer_id)
female_tensor = sy.Tensor(child=customer_female).private(min_val=0, max_val=2e12, data_subjects=customer_id)

In [57]:
domain = sy.login(email="info@openmined.org", password="changethis", port=8081)

WARNING: CHANGE YOUR USERNAME AND PASSWORD!!!

Anyone can login as an admin to your node right now because your password is still the default PySyft username and password!!!

Connecting to localhost... done! 	 Logging into jovial_olah... done!

In [58]:
domain.load_dataset(
    assets={
        "age": age_tensor,
        "income": income_tensor,
        "spend": spend_tensor,
        "male?": male_tensor,
        "female?": female_tensor
    }, name="Customer data in a Mall in Canada", 
    description="This dataset contains information about 200 customers from a Mall in Canada. Columns" \
    "include Age, Annual Income (k$), Spending Score (1-100), Male, Female"
)

kj/filesystem-disk-unix.c++:1690: warning: PWD environment variable doesn't match current directory; pwd = /Users/zarreennaowalreza/Documents/openmined-new

Loading dataset... uploading...🚀

Uploading `age`: 100%|████████████████████████████████████████████████| 1/1 [00:00<00:00, 56.89it/s]
Uploading `income`: 100%|████████████████████████████████████████████| 1/1 [00:00<00:00, 120.48it/s]
Uploading `spend`: 100%|██████████████████████████████████████████████| 1/1 [00:00<00:00, 81.48it/s]
Uploading `male?`: 100%|██████████████████████████████████████████████| 1/1 [00:00<00:00, 86.80it/s]
Uploading `female?`: 100%|████████████████████████████████████████████| 1/1 [00:00<00:00, 97.05it/s]

Dataset is uploaded successfully !!! 🎉

Run `<your client variable>.datasets` to see your new dataset loaded into your machine!

In [59]:
domain.datasets

In [60]:
domain.create_user(
    name="Zarreen", 
    email="znr@openmined.org", 
    password="sherlock", 
    budget=10
)

User created successfully!

{'name': 'Zarreen',
 'email': 'znr@openmined.org',
 'password': 'sherlock',
 'url': 'localhost'}

In [48]:
customer_id = canada_customer_data["CustomerID"].to_numpy().reshape(200, 1)

In [49]:
customer_id

array([[  1],
       [  2],
       [  3],
       [  4],
       [  5],
       [  6],
       [  7],
       [  8],
       [  9],
       [ 10],
       [ 11],
       [ 12],
       [ 13],
       [ 14],
       [ 15],
       [ 16],
       [ 17],
       [ 18],
       [ 19],
       [ 20],
       [ 21],
       [ 22],
       [ 23],
       [ 24],
       [ 25],
       [ 26],
       [ 27],
       [ 28],
       [ 29],
       [ 30],
       [ 31],
       [ 32],
       [ 33],
       [ 34],
       [ 35],
       [ 36],
       [ 37],
       [ 38],
       [ 39],
       [ 40],
       [ 41],
       [ 42],
       [ 43],
       [ 44],
       [ 45],
       [ 46],
       [ 47],
       [ 48],
       [ 49],
       [ 50],
       [ 51],
       [ 52],
       [ 53],
       [ 54],
       [ 55],
       [ 56],
       [ 57],
       [ 58],
       [ 59],
       [ 60],
       [ 61],
       [ 62],
       [ 63],
       [ 64],
       [ 65],
       [ 66],
       [ 67],
       [ 68],
       [ 69],
       [ 70],
       [ 71],
       [ 72],
       [ 73],
       [ 74],
       [ 75],
       [ 76],
       [ 77],
       [ 78],
       [ 79],
       [ 80],
       [ 81],
       [ 82],
       [ 83],
       [ 84],
       [ 85],
       [ 86],
       [ 87],
       [ 88],
       [ 89],
       [ 90],
       [ 91],
       [ 92],
       [ 93],
       [ 94],
       [ 95],
       [ 96],
       [ 97],
       [ 98],
       [ 99],
       [100],
       [101],
       [102],
       [103],
       [104],
       [105],
       [106],
       [107],
       [108],
       [109],
       [110],
       [111],
       [112],
       [113],
       [114],
       [115],
       [116],
       [117],
       [118],
       [119],
       [120],
       [121],
       [122],
       [123],
       [124],
       [125],
       [126],
       [127],
       [128],
       [129],
       [130],
       [131],
       [132],
       [133],
       [134],
       [135],
       [136],
       [137],
       [138],
       [139],
       [140],
       [141],
       [142],
       [143],
       [144],
       [145],
       [146],
       [147],
       [148],
       [149],
       [150],
       [151],
       [152],
       [153],
       [154],
       [155],
       [156],
       [157],
       [158],
       [159],
       [160],
       [161],
       [162],
       [163],
       [164],
       [165],
       [166],
       [167],
       [168],
       [169],
       [170],
       [171],
       [172],
       [173],
       [174],
       [175],
       [176],
       [177],
       [178],
       [179],
       [180],
       [181],
       [182],
       [183],
       [184],
       [185],
       [186],
       [187],
       [188],
       [189],
       [190],
       [191],
       [192],
       [193],
       [194],
       [195],
       [196],
       [197],
       [198],
       [199],
       [200]])