In [1]:
SYFT_VERSION = ">=0.8.1b0,<0.9"
package_string = f'"syft{SYFT_VERSION}"'
%pip install {package_string} -f https://whls.blob.core.windows.net/unstable/index.html -q

Note: you may need to restart the kernel to use updated packages.

In [2]:
import syft as sy
sy.requires(SYFT_VERSION)
from syft import autocache

kj/filesystem-disk-unix.c++:1703: warning: PWD environment variable doesn't match current directory; pwd = /home/shubham/PySyft

âœ… The installed version of syft==0.8.1b9 matches the requirement >=0.8.1b0 and the requirement <0.9

In [3]:
node = sy.orchestra.launch(name="test-domain-1", port="auto", dev_mode=True, reset=True)

Starting test-domain-1 server on 0.0.0.0:6032

WARNING: private key is based on node name: test-domain-1 in dev_mode. Don't run this in production.
SQLite Store Path:
!open file:///tmp/7bca415d13ed4ec881f0d0aede098dbb.sqlite

INFO:     Started server process [22474]
INFO:     Waiting for application startup.
INFO:     Application startup complete.
INFO:     Uvicorn running on http://0.0.0.0:6032 (Press CTRL+C to quit)

INFO:     127.0.0.1:36606 - "GET /api/v2/metadata HTTP/1.1" 200 OK
Waiting for server to start Done.
INFO:     127.0.0.1:36608 - "GET /api/v2/metadata HTTP/1.1" 200 OK
INFO:     127.0.0.1:36608 - "POST /api/v2/login HTTP/1.1" 200 OK
INFO:     127.0.0.1:36608 - "GET /api/v2/api?verify_key=aec6ea4dfc049ceacaeeebc493167a88a200ddc367b1fa32da652444b635d21f HTTP/1.1" 200 OK
INFO:     127.0.0.1:36624 - "POST /api/v2/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:36626 - "POST /api/v2/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:36630 - "POST /api/v2/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:36638 - "POST /api/v2/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:41944 - "POST /api/v2/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:41952 - "POST /api/v2/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:41960 - "POST /api/v2/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:41976 - "POST /api/v2/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:41988 - "POST /api/v2/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:41992 - "POST /api/v2/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:42000 - "POST /api/v2/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:36608 - "POST /api/v2/register HTTP/1.1" 200 OK

INFO:     Shutting down
INFO:     Waiting for application shutdown.
INFO:     Application shutdown complete.
INFO:     Finished server process [22474]

In [4]:
domain_client = node.login(email="info@openmined.org", password="changethis")

Logged into test-domain-1 as GUEST

In [5]:
domain_client.api

client.api.services

client.api.services.data_subject

client.api.services.data_subject.add_data_subject(data_subject: syft.service.data_subject.data_subject.DataSubjectCreate) -> Union[syft.service.response.SyftSuccess, syft.service.response.SyftError]

client.api.services.data_subject.get_all() -> Union[List[syft.service.data_subject.data_subject.DataSubject], syft.service.response.SyftError]

client.api.services.data_subject.members_for(data_subject_name: str) -> Union[List[syft.service.data_subject.data_subject.DataSubject], syft.service.response.SyftError]

client.api.services.data_subject.get_by_name(name: str) -> Union[syft.service.response.SyftSuccess, syft.service.response.SyftError]


client.api.services.user

client.api.services.user.create(user_create: syft.service.user.user.UserCreate) -> Union[syft.service.user.user.UserView, syft.service.response.SyftError]

client.api.services.user.view(uid: syft.types.uid.UID) -> Union[syft.service.user.user.UserView, None, syft.service.response.SyftError]

client.api.services.user.get_all(page_size: Union[int, None] = 0, page_index: Union[int, None] = 0) -> Union[syft.service.user.user.UserView, None, syft.service.response.SyftError]

client.api.services.user.search(args: Any, id: syft.types.uid.UID, email: pydantic.networks.EmailStr, verify_key: syft.node.credentials.SyftVerifyKey, name: str, syft_node_location: Union[syft.types.uid.UID, None] = None, syft_client_verify_key: Union[syft.node.credentials.SyftVerifyKey, None] = None, page_size: Union[int, None] = 0, page_index: Union[int, None] = 0) -> Union[List[syft.service.user.user.UserView], syft.service.response.SyftError]

client.api.services.user.update(uid: syft.types.uid.UID, user_update: syft.service.user.user.UserUpdate) -> Union[syft.service.user.user.UserView, syft.service.response.SyftError]

client.api.services.user.delete(uid: syft.types.uid.UID) -> Union[bool, syft.service.response.SyftError]


client.api.services.network

client.api.services.network.exchange_credentials_with(self_node_route: syft.service.network.routes.NodeRoute, remote_node_route: syft.service.network.routes.NodeRoute, remote_node_verify_key: syft.node.credentials.SyftVerifyKey) -> Union[syft.service.response.SyftSuccess, syft.service.response.SyftError]

client.api.services.network.add_peer(peer: syft.service.network.node_peer.NodePeer, challenge: bytes, self_node_route: syft.service.network.routes.NodeRoute, verify_key: syft.node.credentials.SyftVerifyKey) -> Union[bytes, syft.service.response.SyftError]

client.api.services.network.ping(challenge: bytes) -> Union[bytes, syft.service.response.SyftError]

client.api.services.network.add_route_for(route: syft.service.network.routes.NodeRoute, peer: syft.service.network.node_peer.NodePeer) -> Union[syft.service.response.SyftSuccess, syft.service.response.SyftError]

client.api.services.network.verify_route(route: syft.service.network.routes.NodeRoute) -> Union[syft.service.response.SyftSuccess, syft.service.response.SyftError]

client.api.services.network.get_all_peers() -> Union[List[syft.service.network.node_peer.NodePeer], syft.service.response.SyftError]

client.api.services.network.join_vpn(peer: Union[syft.service.network.node_peer.NodePeer, None] = None, client: Union[syft.client.client.SyftClient, None] = None) -> Union[syft.service.response.SyftSuccess, syft.service.response.SyftError]

client.api.services.network.vpn_status() -> Union[syft.service.vpn.tailscale_client.TailscaleStatus, syft.service.response.SyftError]

client.api.services.network.register_to_vpn() -> Union[syft.service.vpn.headscale_client.HeadscaleAuthToken, syft.service.response.SyftError]


client.api.services.policy

client.api.services.policy.get_all() -> Union[List[syft.service.policy.policy.UserPolicy], syft.service.response.SyftError]

client.api.services.policy.add(policy_code: Union[syft.service.policy.policy.SubmitUserPolicy, syft.service.policy.policy.UserPolicy]) -> Union[syft.service.response.SyftSuccess, syft.service.response.SyftError]

client.api.services.policy.get_by_uid(uid: syft.types.uid.UID) -> Union[syft.service.response.SyftSuccess, syft.service.response.SyftError]


client.api.services.action

client.api.services.action.np_array(data: Any) -> Any

client.api.services.action.set(action_object: Union[syft.service.action.action_object.ActionObject, syft.types.twin_object.TwinObject]) -> Union[result.result.Ok[syft.service.action.action_object.ActionObject], result.result.Err[str]]

client.api.services.action.save(action_object: Union[syft.service.action.action_object.ActionObject, syft.types.twin_object.TwinObject]) -> Union[result.result.Ok[syft.service.response.SyftSuccess], result.result.Err[str]]

client.api.services.action.get(uid: syft.types.uid.UID, twin_mode: syft.service.action.action_object.TwinMode = <TwinMode.PRIVATE: 1>) -> Union[result.result.Ok[result.result.Ok[syft.service.action.action_object.ActionObject]], result.result.Err[result.result.Err[str]]]

client.api.services.action.get_pointer(uid: syft.types.uid.UID) -> Union[result.result.Ok[syft.service.action.action_object.ActionObjectPointer], result.result.Err[str]]

client.api.services.action.execute(action: syft.service.action.action_object.Action) -> Union[result.result.Ok[syft.service.action.action_object.ActionObject], result.result.Err[result.result.Err]]

client.api.services.action.exists(obj_id: syft.types.uid.UID) -> Union[result.result.Ok[syft.service.response.SyftSuccess], result.result.Err[syft.service.response.SyftError]]


client.api.services.messages

client.api.services.messages.send(message: syft.service.message.messages.CreateMessage) -> Union[syft.service.message.messages.Message, syft.service.response.SyftError]

client.api.services.messages.reply(reply: syft.service.message.messages.ReplyMessage) -> Union[syft.service.message.messages.ReplyMessage, syft.service.response.SyftError]

client.api.services.messages.get_all() -> Union[List[syft.service.message.messages.Message], syft.service.response.SyftError]

client.api.services.messages.outbox() -> Union[List[syft.service.message.messages.Message], syft.service.response.SyftError]

client.api.services.messages.get_all_read() -> Union[List[syft.service.message.messages.Message], syft.service.response.SyftError]

client.api.services.messages.get_all_unread() -> Union[List[syft.service.message.messages.Message], syft.service.response.SyftError]

client.api.services.messages.mark_as_read(uid: syft.types.uid.UID) -> Union[syft.service.message.messages.Message, syft.service.response.SyftError]

client.api.services.messages.mark_as_unread(uid: syft.types.uid.UID) -> Union[syft.service.message.messages.Message, syft.service.response.SyftError]

client.api.services.messages.resolve_object(linked_obj: syft.store.linked_obj.LinkedObject) -> Union[syft.service.message.messages.Message, syft.service.response.SyftError]

client.api.services.messages.clear() -> Union[syft.service.response.SyftError, syft.service.response.SyftSuccess]


client.api.services.request

client.api.services.request.submit(request: syft.service.request.request.SubmitRequest, send_message: bool = True, reason: Union[str, None] = '') -> Union[syft.service.request.request.Request, syft.service.response.SyftError]

client.api.services.request.get_all() -> Union[List[syft.service.request.request.Request], syft.service.response.SyftError]

client.api.services.request.get_all_info(page_index: Union[int, None] = 0, page_size: Union[int, None] = 0) -> Union[List[syft.service.request.request.RequestInfo], syft.service.response.SyftError]

client.api.services.request.add_changes(uid: syft.types.uid.UID, changes: List[syft.service.request.request.Change]) -> Union[syft.service.request.request.Request, syft.service.response.SyftError]

client.api.services.request.filter_all_info(request_filter: syft.service.request.request.RequestInfoFilter, page_index: Union[int, None] = 0, page_size: Union[int, None] = 0) -> Union[List[syft.service.request.request.RequestInfo], syft.service.response.SyftError]

client.api.services.request.apply(uid: syft.types.uid.UID) -> Union[syft.service.response.SyftSuccess, syft.service.response.SyftError]

client.api.services.request.undo(uid: syft.types.uid.UID, reason: str) -> Union[syft.service.response.SyftSuccess, syft.service.response.SyftError]


client.api.services.code

client.api.services.code.submit(code: syft.service.code.user_code.SubmitUserCode) -> Union[syft.service.code.user_code.UserCode, syft.service.response.SyftError]

client.api.services.code.request_code_execution(code: syft.service.code.user_code.SubmitUserCode, reason: Union[str, None] = '') -> Union[syft.service.response.SyftSuccess, syft.service.response.SyftError]

client.api.services.code.get_all() -> Union[List[syft.service.code.user_code.UserCode], syft.service.response.SyftError]

client.api.services.code.get_by_id(uid: syft.types.uid.UID) -> Union[syft.service.response.SyftSuccess, syft.service.response.SyftError]

client.api.services.code.get_all_for_user() -> Union[syft.service.response.SyftSuccess, syft.service.response.SyftError]

client.api.services.code.call(uid: syft.types.uid.UID, **kwargs: Any) -> Union[syft.service.response.SyftSuccess, syft.service.response.SyftError]


client.api.services.dataset

client.api.services.dataset.add(dataset: syft.service.dataset.dataset.CreateDataset) -> Union[syft.service.response.SyftSuccess, syft.service.response.SyftError]

client.api.services.dataset.get_all(page_size: Union[int, None] = 0, page_index: Union[int, None] = 0) -> Union[List[syft.service.dataset.dataset.Dataset], syft.service.response.SyftError]

client.api.services.dataset.search(name: str, page_size: Union[int, None] = 0, page_index: Union[int, None] = 0) -> Union[List[syft.service.dataset.dataset.Dataset], syft.service.response.SyftError]

client.api.services.dataset.get_by_id(uid: syft.types.uid.UID) -> Union[syft.service.response.SyftSuccess, syft.service.response.SyftError]

client.api.services.dataset.get_by_action_id(uid: syft.types.uid.UID) -> Union[List[syft.service.dataset.dataset.Dataset], syft.service.response.SyftError]

client.api.services.dataset.get_assets_by_action_id(uid: syft.types.uid.UID) -> Union[List[syft.service.dataset.dataset.Asset], syft.service.response.SyftError]

client.api.services.dataset.dataset_delete_by_id(uid: syft.types.uid.UID)


client.api.services.project

client.api.services.project.add_event(project_event: syft.service.project.project.ProjectEvent) -> Union[syft.service.response.SyftSuccess, syft.service.response.SyftError]

client.api.services.project.broadcast_event(project_event: syft.service.project.project.ProjectEvent) -> Union[syft.service.response.SyftSuccess, syft.service.response.SyftError]

client.api.services.project.sync(project_id: syft.types.uid.UID, seq_no: int) -> Union[syft.service.response.SyftSuccess, syft.service.response.SyftError, List[syft.service.project.project.ProjectEvent]]

client.api.services.project.get_all() -> Union[List[syft.service.project.project.Project], syft.service.response.SyftError]

client.api.services.project.get_by_name(name: str) -> Union[syft.service.project.project.Project, syft.service.response.SyftError]

client.api.services.project.get_by_uid(uid: syft.types.uid.UID)


client.api.services.settings

client.api.services.settings.get() -> Union[result.result.Ok[result.result.Ok], result.result.Err[result.result.Err]]

client.api.services.settings.set(settings: syft.service.settings.settings.NodeSettings) -> Union[result.result.Ok[result.result.Ok], result.result.Err[result.result.Err]]

client.api.services.settings.update(settings: syft.service.settings.settings.NodeSettingsUpdate) -> Union[result.result.Ok[result.result.Ok], result.result.Err[result.result.Err]]

client.api.services.settings.allow_guest_signup(enable: bool) -> Union[syft.service.response.SyftSuccess, syft.service.response.SyftError]

In [6]:
data_subjects = domain_client.api.services.data_subject.get_all()

In [7]:
data_subjects

[]

In [8]:
assert len(data_subjects) == 0

In [9]:
country = sy.DataSubject(name="Country", aliases=["country_code"])

In [10]:
canada = sy.DataSubject(name="Canada", aliases=["country_code:ca"])
germany = sy.DataSubject(name="Germany", aliases=["country_code:de"])
spain = sy.DataSubject(name="Spain", aliases=["country_code:es"])
france = sy.DataSubject(name="France", aliases=["country_code:fr"])
japan = sy.DataSubject(name="Japan", aliases=["country_code:jp"])
uk = sy.DataSubject(name="United Kingdom", aliases=["country_code:uk"])
usa = sy.DataSubject(name="United States of America", aliases=["country_code:us"])
australia = sy.DataSubject(name="Australia", aliases=["country_code:au"])
india = sy.DataSubject(name="India", aliases=["country_code:in"])

In [11]:
country.add_member(canada)
country.add_member(germany)
country.add_member(spain)
country.add_member(france)
country.add_member(japan)
country.add_member(uk)
country.add_member(usa)
country.add_member(australia)
country.add_member(india)

country.members

{'Canada': <DataSubject: Canada>,
 'Germany': <DataSubject: Germany>,
 'Spain': <DataSubject: Spain>,
 'France': <DataSubject: France>,
 'Japan': <DataSubject: Japan>,
 'United Kingdom': <DataSubject: United Kingdom>,
 'United States of America': <DataSubject: United States of America>,
 'Australia': <DataSubject: Australia>,
 'India': <DataSubject: India>}

In [12]:
registry = domain_client.data_subject_registry

In [13]:
response = registry.add_data_subject(country)

In [14]:
response

<class 'syft.service.response.SyftSuccess'>: 10 Data Subjects Registered

In [15]:
assert response

In [16]:
domain_client.data_subject_registry

In [17]:
data_subjects = domain_client.api.services.data_subject.get_all()

In [18]:
assert len(data_subjects) == 10

In [19]:
canada_dataset_url = "https://github.com/OpenMined/datasets/blob/main/trade_flow/ca%20-%20feb%202021.csv?raw=True"

In [20]:
import pandas as pd

In [21]:
df = pd.read_csv(autocache(canada_dataset_url))

/tmp/ipykernel_22427/754433127.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(autocache(canada_dataset_url))

In [22]:
df

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,4,0,1,Imports,124,Canada,...,"Other Asia, nes",NaN,6117,"Clothing accessories; made up, knitted or croc...",0,NaN,NaN,NaN,9285,0
1,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Egypt,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,116604,0
2,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Kingdom,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,1495175,0
3,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Rep. of Tanzania,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,2248,0
4,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Singapore,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,47840,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227449,HS,2021,202102,February 2021,6,1,2,Exports,124,Canada,...,World,NaN,550952,"Yarn; (not sewing thread), of polyester staple...",0,NaN,NaN,5406.0,34272,0
227450,HS,2021,202102,February 2021,6,1,2,Exports,124,Canada,...,World,NaN,550999,"Yarn; (not sewing thread), of synthetic staple...",0,NaN,NaN,7345.0,228182,0
227451,HS,2021,202102,February 2021,6,1,2,Exports,124,Canada,...,World,NaN,550969,"Yarn; (not sewing thread), of acrylic or modac...",0,NaN,NaN,1839.0,18812,0
227452,HS,2021,202102,February 2021,6,1,2,Exports,124,Canada,...,World,NaN,550962,"Yarn; (not sewing thread), of acrylic or modac...",0,NaN,NaN,1437.0,23140,0
227453,HS,2021,202102,February 2021,6,1,2,Exports,124,Canada,...,World,NaN,550959,"Yarn; (not sewing thread), of polyester staple...",0,NaN,NaN,5660.0,73652,0

In [23]:
ca_data = df[0:10]

In [24]:
mock_ca_data = df[10:20]

In [25]:
ca_data

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,4,0,1,Imports,124,Canada,...,"Other Asia, nes",NaN,6117,"Clothing accessories; made up, knitted or croc...",0,NaN,NaN,NaN,9285,0
1,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Egypt,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,116604,0
2,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Kingdom,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,1495175,0
3,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Rep. of Tanzania,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,2248,0
4,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Singapore,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,47840,0
5,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Viet Nam,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,3526,0
6,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,South Africa,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,5462,0
7,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Spain,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,311425,0
8,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Sweden,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,11786,0
9,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Venezuela,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,33715,0

In [26]:
dataset = sy.Dataset(name="Canada Trade Value")

In [27]:
dataset.set_description("""Canada Trade Data""")

In [28]:
dataset.add_citation("Person, place or thing")
dataset.add_url("https://github.com/OpenMined/datasets/tree/main/trade_flow")

In [29]:
dataset.add_contributor(role=sy.roles.UPLOADER, 
                                name="Andrew Trask", 
                                email="andrew@openmined.org",
                                note="Andrew runs this domain and prepared the dataset metadata.")

dataset.add_contributor(role=sy.roles.EDITOR, 
                                name="Madhava Jay", 
                                email="madhava@openmined.org",
                                note="Madhava tweaked the description to add the URL because Andrew forgot.")

In [30]:
dataset.contributors

[syft.service.dataset.dataset.Contributor,
 syft.service.dataset.dataset.Contributor]

In [31]:
assert len(dataset.contributors) == 2

In [32]:
ctf = sy.Asset(name="canada_trade_flow")
ctf.set_description("""all the datas""")

In [33]:
ctf.add_contributor(role=sy.roles.UPLOADER, 
                      name="Andrew Trask", 
                      email="andrew@openmined.org",
                      note="Andrew runs this domain and prepared the asset.")

In [34]:
ctf.set_obj(ca_data)

In [35]:
ctf.set_shape((10, 22))

In [36]:
ctf.add_data_subject(canada)

In [37]:
ctf.no_mock()

In [38]:
dataset.add_asset(ctf)

In [39]:
dataset.remove_asset(name=ctf.name)

In [40]:
ctf.set_mock(mock_ca_data, mock_is_real=False)

In [41]:
dataset.add_asset(ctf)

In [42]:
domain_client.upload_dataset(dataset)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 10.61it/s]

Uploading: canada_trade_flow

<class 'syft.service.response.SyftSuccess'>: Dataset Added

In [43]:
datasets = domain_client.api.services.dataset.get_all()

In [44]:
assert len(datasets) == 1

In [45]:
datasets

[syft.service.dataset.dataset.Dataset]

In [46]:
mock = domain_client.datasets[0].assets[0].mock

In [47]:
assert mock_ca_data.equals(mock)

In [48]:
real = domain_client.datasets[0].assets[0].data

In [49]:
assert ca_data.equals(real.syft_action_data)

In [50]:
### Create account for guest user
### Signup is disabled by default
### An Admin/DO can enable it by `domain_client.settings.allow_guest_signup(enable=True)`

domain_client.register(name="Jane Doe", email="jane@caltech.edu", password="abc123", institution="Caltech", website="https://www.caltech.edu/")

<class 'syft.service.response.SyftSuccess'>: User successfully registered!

In [51]:
if node.node_type.value == "python":
    node.land()

Stopping test-domain-1